<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
    <h3 class="marginleft">
        Incident Detail
    </h3>


    <div class="column" style="background-color:#ccc;margin-top: 10px;">
        <h4 class="marginleft">Beschrijving:</h4>
        <p class="marginleft">
            {{this.order.orderTitle}}
        </p>
        <h4 class="marginleft">Locatie:</h4>
        <p class="marginleft">
            {{this.order.orderLocation}}
        </p>

    </div>
    <div class="column" style="background-color:#bbb;">
        <h3 class="marginleft">Tips:</h3>
        <tbody *ngIf="tips != null" class="marginleft">
        <tr *ngFor="let tip of tips">
            <div class="container">
                {{tip.message}}
            </div>
        </tr>
        </tbody>
    </div>
    <div class="column" style="background-color:#aaa;">
        <h3 class="marginleft">Tips geven/afhandelen</h3>
        <div class="marginleft">
            <textarea ng-model="myTextarea" formControl="tipOrConclude" placeholder="Tips of afhandelen"
                      class="width height " name="tipOrCondule" id="tipOrConclude"
                      #tipOrConclude></textarea>
            <div>
                <button class="btn btn-primary" style="margin-left: 1%" (click)="concludeOrder(tipOrConclude)"> Afhandelen</button>
                <button class="btn btn-danger" style="float: right;margin-right:1% " (click)="giveUpdate(tipOrConclude)"> Tip geven</button>
            </div>
        </div>
    </div>
</div>


<style>
    .width {
        width: 98%;
        margin-left: 1%;
    }

    .height {
        height: 10%;
        padding-bottom: 10px;
    }

    .container {
        height: 14%;

    }

</style>