<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>
    <h1>
        Dienst web
    </h1>

    <div class="container">

        <div class="container left ">
            <p>Id:{{this.order.orderId}}</p>
            <p>Locatie:{{this.order.orderLocation}}</p>
            <p>Beschrijving:{{this.order.orderTitle}}</p>

        </div>
        <div class="container center ">
            <p>Tips:</p>

        </div>
        <div class="container right ">
            <p>Tips geven/afhandelen</p>
        </div>

    </div>
    <div class="col-container">
        <div  class="  left ">
            <textarea ng-model="myTextarea" formControl="beschrijving" placeholder="Beschrijving"
                      class="width height " name="Beschrijving" id="beschrijving" #Tips></textarea>
        </div>
        <div class=" center ">
            <tbody *ngIf="tips != null">
            <tr  *ngFor="let tip of tips">
                <div class="container">
                    {{tip.message}}}


                </div>

            </tr>

            </tbody>
        </div>
        <div class=" right ">
            <textarea ng-model="myTextarea" formControl="tipOrConclude" placeholder="Tips of afhandelen"
                      class="width height " name="tipOrCondule" id="tipOrConclude"
                      #tipOrConclude></textarea>
            <div>
                <button class="btn btn-primary" (click)="concludeOrder(tipOrConclude.value)"> Afhandelen</button>
                <button class="btn btn-danger" (click)="giveUpdate(tipOrConclude.value)"> Tip geven</button>
            </div>
        </div>


    </div>


</div>

<style>
    .width {
        width: 100%;
    }

    .height {
        height: 75%;
        padding-bottom: 10px;
    }

    .container {
        height: 14%;

    }
    .col-container {
        display: flex;
        width: 100%;
    }
    .col {
        flex: 1;
        padding: 16px;
    }

    .left, .center, .right {
        float: left;
        width: 32%;
        border: 1px solid #CEDCEA;
        padding: 5px;
        height: 100%;

    }

    .container {
        overflow: hidden;
    }
</style>