<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<div>


    <div class="container">
        <div class="row">
            <div class="col-sm-3" flex>Id:</div>
            <div class="col-sm-3" flex>Locatie:</div>
            <div class="col-sm-3" flex>Beschrijving:</div>
            <div class="col-sm-3" flex>Actie:</div>

        </div>
    </div>

</div>

<tbody *ngIf="orders != null">

<tr *ngFor="let order of orders">
    <div class="container">
        <div class="row">
            <div class="col-sm-3" flex>{{order.orderId}}</div>
            <div class="col-sm-3" flex>{{order.orderLocation}}</div>
            <div class="col-sm-3" flex>{{order.orderTitle}}</div>
            <div class="col-sm-3" flex>
                <button class="btn btn-primary" (click)="AcceptOrder(order)"> Accpteren</button>
                <button class="btn btn-danger" (click)="DeclineOrder(order)" style="margin-left: 20px;"> Afwijzen
                </button>
            </div>
        </div>
    </div>
</tr>
</tbody>

